{% extends "home/base.html" %}
{% block navbarlist %}
    <li><a class="active" href="/">Home</a>
{% endblock navbarlist %}
{% block content %}
{% load static %}
<center>
    <h2 style="color: azure;">Team Members :</h2><br>
    <img src="{% static 'img/tejas.jpg' %}" >
    <h3 style="color: azure;">Tejas K L</h3>
    <h4 style="color: azure;">kltejas5@gmail.com</h4><br>
    <img src="{% static 'img/utkarsh.jpg' %}" >
    <h3 style="color: azure;">Utkarsh Yadav</h3>
    <h4 style="color: azure;">utkarshyadav1611@gmail.com</h4><br>
    <img src="{% static 'img/vijay.jpg' %}" >
    <h3 style="color: azure;">V Vijay Krishnan</h3>
    <h4 style="color: azure;">vvijayk1999@gmail.com</h4><br>
    <img src="{% static 'img/vishrutha.jpg' %}" >
    <h3 style="color: azure;">Vishrutha K S</h3>
    <h4 style="color: azure;">vishrutha.jithu@gmail.com</h4><br><br>
    <h2 style="color: azure;">Mentor :</h2><br>
    <h3 style="color: azure;">Dr. Mallikarjuna Shastry P. M</h3>
    <h4 style="color: azure;">mallikarjunashastry@reva.edu.in</h4><br>
</center>

{% endblock content %}